# Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

a is initially set to 0.

The function b() is called for the first time, and c(a) calculates 0 + 2, resulting in a being updated to 2.

The function b() is called for the second time, and c(a) calculates 2 + 2, resulting in a being updated to 4.

The function b() is called for the third time, and c(a) calculates 4 + 2, updating a to 6.

In [2]:
b()

In [3]:
a

2

In [4]:
b()

In [5]:
a

4

In [6]:
b()

In [7]:
a

6

# Question 2

In [8]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        length = len(content)
        print(f"File {filename} has {length} characters.")
    except FileNotFoundError:
        print(f"File {filename} not found.")


fileLength(r'C:\Users\KAMALJIT\Desktop\notepad.txt')
fileLength(r'C:\Users\KAMALJIT\Desktop\notepad123.txt')

File C:\Users\KAMALJIT\Desktop\notepad.txt has 18 characters.
File C:\Users\KAMALJIT\Desktop\notepad123.txt not found.

# Question 3

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Test the Kangaroo class
k = Kangaroo(0, 0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [17]:
print(k)
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (3,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (6,0)

# Question 4

In [1]:
def collatz(x):
    if x == 1:
        print(1)
    else:
        print(x)
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)

# Example usage:
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5

In [ ]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)  # Recursively call binary with n // 2
        print(n % 2, end='')

In [3]:
binary(9)

1001

In [4]:
binary(7)

111

# Question 8

In [2]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()

# Create a table (replace 'YourTableName' with the actual table name)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS YourTableName (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

# Insert sample data into the table
cursor.executemany('''
    INSERT INTO YourTableName (City, Country, Season, Temperature, Rainfall)
    VALUES (?, ?, ?, ?, ?)
''', [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
])

# Commit the changes to the database
conn.commit()

# Define the SQL queries
queries = [
    "SELECT Temperature FROM YourTableName",
    "SELECT DISTINCT City FROM YourTableName",
    "SELECT * FROM YourTableName WHERE Country = 'India'",
    "SELECT * FROM YourTableName WHERE Season = 'Fall'",
    "SELECT City, Country, Season FROM YourTableName GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400",
    "SELECT City, Country FROM YourTableName WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC",
    "SELECT City, SUM(Rainfall) AS TotalRainfall FROM YourTableName WHERE City = 'Cairo' GROUP BY City",
    "SELECT Season, SUM(Rainfall) AS TotalRainfall FROM YourTableName GROUP BY Season"
]

# Execute the queries and print the results
for query in queries:
    cursor.execute(query)
    results = cursor.fetchall()
    print(results)

# Close the database connection
conn.close()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
[('Mumbai',), ('London',), ('Cairo',)]
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]
[('Cairo', 'Egypt'), ('Mumbai', 'India')]
[('Cairo', 27.6)]
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [8]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

print('a> ',end='')
w_up=[word.upper() for word in words]
print(w_up)

print('b> ',end='')
w_lo=[word.lower() for word in words]
print(w_lo)

print('c> ',end='')
w_len=[len(word) for word in words]
print(w_len)

print('d> ',end='')
w_ull=[[word.upper(),word.lower(),len(word)] for word in words]
print(w_ull)

print('e> ',end='')
w_ull=[ word for word in words if len(word)>3]
print(w_ull)

a> ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b> ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c> [3, 5, 5, 3, 5, 4, 3, 4, 3]
d> [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e> ['quick', 'brown', 'jumps', 'over', 'lazy']